
#header{
		position:fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
	
	
}

body {
		background-color: #f1f1f1;
		}	

#logo{
		display:inline-block;
		height:30px;
		width: 100px;
		padding: 0px;
		margin-left: 10px;
		height: auto;
		padding-bottom: 8px;
		padding-top: 7px;
}
#youtube_logo {
		width: 90px;
		float: left;
		position: relative;
		z-index: 9;
}
#sidebar {
		
		float: right;
		height: 100%;
		width: 400px;
		background-color:white;
		margin-top: 72px;
		margin-right: 50px;
}
#youtube_player {
		margin-left: 50px;	
}

#video_description {
		position: relative;
		height: 120px;
		width: 854px;
		margin-left: 50px;
		background-color: white;
		margin-top: 10px;
	
}

#pk_vec {
		margin-left:41%;
		
		margin-top: 5px;
		position:relative;
		}

.pokazi_vec {
	border-top: 3px #e2e2e2;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-style: solid;
	width: 90%;
	color: #958888;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#pokazi_vec_sidebar {
		border-top: 1px #e2e2e2;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 0px;
		border-style: solid;
		width: 90%;
		color: #958888;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
}

.thumbnail {
	
		position: relative;
		height: 100%;
		width: 100%;
		display:inline
}

#description {
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 5px;
		}

.description {
		font-size: 14px;
		margin: 0px;
		margin-left: 15px;
		font-weight: bold;
}

#user_thumbnail {
		position: relative;
		margin-left: 15px;
		width: 80px;
		height: 80px;
		color: red;
		display:inline-block;
}

.thumb_name {
		margin-top:2px;
		font-size: 16px;
		font-family: arial;
		vertical-align:top;
		color:black;
		}

.thumb_user_name {
		font-size:14px;
		vertical-align:top;
		color:grey;
		
	
}

.thumb_title {
		display:inline-block;
		height: 110px;
		width: 185px;
		margin-top: 10px;
		position:relative;
		vertical-align:top;
}

.video_thumb {
		display:inline-block;
		height: 110px;
		width: 170px;
		margin-top: 10px;
		
}

.video_thumb_img {
		height: 110px;
		width: 170px;
	
}

#video_name {
	    position: relative;
		height: 150px;
		width: 854px; 
		margin-left: 50px;
		background-color:white;
}

.thumbnails {
		position:relative;
		height: 130px;
		width: 360px;
		margin-bottom: 5px;
		margin-top: 5px;
		margin-left:20px;
}

#first {
	border-bottom: 1px #e2e2e2;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-style: solid;
	width: 90%;
	color: #958888;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#naslednji {
		margin-left:20px;
	
}

#main_content {
		position: absolute;
		width: 800px;
		height: 100%;
		
		margin-top: 72px;
		margin-left: 50px;
}

#user_info {
		height:80px;
		width:100%;
	
}

#subscription {
		height: 25px;
		width: 60px;
		display: block;
		vertical-align:top;
}

.search_bar {
		display:inline-block;
		border:1px medium grey;
		padding: 0px;
		margin-top: 12px;
		margin-left:240px;
		width: 540px;
		height: 30px;
		font-size:16px;
		vertical-align: top;
}
#user_name_place {
		height: 45px;
		width: 100%;
		display: inline;
		vertical-align: top;
}

#user_name {
		display: inline;
		margin-bottom: 40px;
		font-size: 20px;
		vertical-align:top;
		}

#search_submit {
		width: 60px;
		margin-left: 0px;
}
.container {
		background: white;
		border-bottom: 1px solid #e8e8e8;
		min-width: 0;
		position: relative;
		padding-bottom: 8px;
		padding-top: 7px;
		width: 100%;
		
		}
h1 {
		font-family:roboto,arial,sans-serif;
		font-size: 25px;
		margin-left: 15px;
	
}
#komentarji {
		position: relative;
		margin-top: 10px;
		height: 100px;
		width: 854px;
		margin-left: 50px;
		background-color: white;
		margin-bottom: 5px;
}

.komentar {
		height: 100px;
		width: 100%;
		background-color: white;
		
}


.komentar_user {
		position:relative;
		vertical-align:top;
		color: blue;
		font-size:20px;
	
}

.days_ago {
		
		margin-top: 5px;
		color: black;
		font-size:15px;
		
	
	
}
.komentar_koment {
		display:block;
		vertical-align:top;
		height: 52px;
		width: 100%;
		
	
}

.odgovori {
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 16px;
		color: #555;;
	
}

.thumbs img{
		height: 16px;
		width: 16px;
		margin-left:2px;
		margin-right:2px;
}

.thumbs-count {
		color: #198EE9;
		font-size: 16px;
	
}

.komentar_footer {
		vertical-align:bottom;
		position:relative;
		
	
	
}

.komentar-body {
		margin-top:10px;
		height:100px;
		width: 754px;
		display:inline-block;
		
		margin-left: 100px;
}









